*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 60%;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    color: #fff;
    background-color: #ebf2f5;
}

body, input, button, textarea {
    font: 600 1.8rem 'Nunito', sans-serif;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}